#home {
  background: black;
  overflow-y: hidden;
}

.homepage-text {
  overflow: hidden;
}

/* Name positioning */
.homepage-title {
  position: absolute;
  top: max(31.5vh, 20px);
  left: min(-60vw, -275px);
}

/* FONTS */
.homepage-title {
  font-family: Ubuntu;
  font-size: max(4vw, 40px);
  color: orange;
  z-index: 2;
}

/* Animations */
.homepage-text .homepage-title {
  /* default is -60vw + 78vw results in title text 18vw from the left */
  transform: translateX(max(78vw, 200px));
  -webkit-transform: translateX(max(78vw, 200px));
  transition: transform 900ms ease-in-out;
}
