/* mobile navbar */
@media (max-width: 768px) {

}

/* desktop navbar */
@media (min-width: 768px) {
  nav {
    background-color: rgba(0, 0, 0, 0.6);
    height: max(10vh, 20px + 8vh);
    z-index: 2;
  }

  .homepage-links {
    top: 0%;
    width: 100%;
    text-align: end;
    position: absolute;
    white-space: nowrap;
  }

  .homepage-link:hover {
    color: gold;
    transition: color 250ms linear;
  }
}

.homepage-link {
  font-family: Ubuntu;
  font-size: max(2vh, 20px);
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: orange;
  text-decoration: none;

  /* top 2vh + padding 2vh = 4vh off top */
  /* right 2vh + padding 2vh = 4vh from right */
  top: 2vh;
  right: 2vh;
  padding: 2vh;

  position: relative;
  display: inline-block;
}
