#navbar {
  top: 0;
  width: 100%;
  position: fixed;
  white-space: nowrap;
  transition: top 0.3s;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

#navbar a {
  font-family: Ubuntu;
  font-style: normal;
  font-variant: normal;
  color: orange;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

#navbar a:hover {
  transition: color 250ms linear;
}

@media (max-width: 768px) {
  #navbar {
    height: max(4vh, 10px + 4.5vh);
    text-align: center;
  }

  #navbar a {
    font-size: max(1vh, 10px);
    top: 2vh;
    padding: 1vh;
  }
}

@media (min-width: 768px) {
  #navbar {
    height: max(5.2vh, 12px + 4.5vh);
    text-align: end;
  }

  #navbar a {
    font-size: max(1.3vh, 12px);
    top: 1vh;
    right: 2vh;
    padding: 2vh;
  }
}

@media (min-width: 992px) {
  #navbar {
    height: max(6vh, 15x + 4.5vh);
    text-align: end;
  }

  #navbar a {
    font-size: max(1.5vh, 15px);
    top: 1vh;
    right: 2vh;
    padding: 2vh;
  }
}