.rotating.box {
  transition-property: transform, background-color;
  will-change: transform, background-color;
  transition-duration: 1500ms;
  transition-timing-function: ease-out;
  background: rgba(144, 148, 148, 0.2);
  display: inline-flex;
}

.rotating.box:hover,
.rotating.box:focus {
  transform: rotate(2160deg);
  background-color: goldenrod;
  transition-duration: 0ms;
  cursor: grab;
}

.box {
  width: 90px;
  height: 90px;
  margin: 16px;
  border-radius: 15%;
  z-index: -1;
}

#repeating {
  text-align: center;
  /* keeps blocks centered */
}