.rotating.box {
  transition: transform 1200ms;
  transition-timing-function: ease-out;
  will-change: transform;
  background: rgba(47, 79, 79, 0.2);
  display: inline-flex;
}
.rotating.box:hover,
.rotating.box:focus {
  transform: rotate(1080deg);
  background-color: slategray;
  /* will make it so rotating animation doesn't occur until cursor is off */
  transition: background-color 1s ease-out;
  cursor: grab;
}

.box {
  width: 90px;
  height: 90px;
  margin: 16px;
  border-radius: 15%;
  z-index: -1;
}
