* {
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  display: block;
  z-index: -3;
}

#home {
  height: 100vh;
}

#about {
  background-color: Linen;
  overflow: hidden;
}

#projects {
  height: 100vh;
  background-color: rgba(20, 30, 40, 0.5);
}
